<section class="ui stackable content main grid container">
  <section class="ui content container" id="cities">
    <div class="ui center aligned container" data-editable data-name="cities">

      <h2 class="ui header aligned center">Cities</h2>
      <h4 class="ui header aligned center">Local Rounds will take place in <span
        style="color:#51bcea">16</span> cities across Europe and Turkey.</h4>
      <div class="ui people container mt-4" id="cities">
        <div class="ui four link stackable special cards">
          <script>
            $('.special.cards .image').dimmer({
              on: 'hover'
            });
          </script>
          <div class="ui card">
            <div class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <p>
                    <h4>Ambassador</h4>
                    Jorge Fernández Martínez
                    </p>
                    <p>
                    <h4>Location</h4>
                    Test
                    </p>
                    <p>
                    <h4>(date)xx.xx.xxxx</h4>
                    </p>
                    <a class="ui inverted small circular icon button dimmerB"
                       href="mailto:yorke005@hotmail.com">
                      <i class="mail icon"></i>
                    </a>
                    <a class="ui inverted small circular icon button dimmerB"
                       href="https://facebook.com/EESTech-Challenge-Almer%C3%ADa-376108782724586"
                       target="_blank">
                      <i class="facebook icon"></i>
                    </a>
                  </div>
                </div>
              </div>
              <img src="assets/images/lc/jlc-almeria.jpg">
            </div>
            <div class="content">
              <div class="header">Almería</div>
              <div class="description">Spain</div>
            </div>
          </div>

          <div class="ui card">
            <div class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <p>
                    <h4>Ambassador</h4>
                    Marco Di Giovanni
                    </p>
                    <h4>Location</h4>
                    Test
                    </p>
                    <p>
                    <h4>(date)xx.xx.xxxx</h4>
                    </p>
                    <a class="ui inverted small circular icon button dimmerB"
                       href="mailto:digiovanni.marco.93@gmail.com">
                      <i class="mail icon"></i>
                    </a>
                    <a class="ui inverted small circular icon button dimmerB"
                       href="https://facebook.com/EESTechChallengeCatania"
                       target="_blank">
                      <i class="facebook icon"></i>
                    </a>
                  </div>
                </div>
              </div>
              <img src="assets/images/lc/jlc-catania.jpg">
            </div>
            <div class="content">
              <div class="header">Catania</div>
              <div class="description">Italy</div>
            </div>
          </div>

          <div class="ui card">
            <div class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <p>
                    <h4>Ambassador</h4>
                    Tunca Deniz Yazıcı
                    </p>
                    <h4>Location</h4>
                    Test
                    </p>
                    <p>
                    <h4>(date)xx.xx.xxxx</h4>
                    </p>
                    <a class="ui inverted small circular icon button dimmerB"
                       href="mailto:tuncadyazici@hotmail.com">
                      <i class="mail icon"></i>
                    </a>
                    <a class="ui inverted small circular icon button dimmerB"
                       href="https://facebook.com/eestechchallengeankara"
                       target="_blank">
                      <i class="facebook icon"></i>
                    </a>
                  </div>
                </div>
              </div>
              <img src="assets/images/lc/lc-ankara.jpg">
            </div>
            <div class="content">
              <div class="header">Ankara</div>
              <div class="description">Turkey</div>
            </div>
          </div>

          <div class="ui card">
            <div class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <p>
                    <h4>Ambassador</h4>
                    Elena Xanthi
                    </p>
                    <h4>Location</h4>
                    Test
                    </p>
                    <p>
                    <h4>(date)xx.xx.xxxx</h4>
                    </p>
                    <a class="ui inverted small circular icon button dimmerB"
                       href="mailto:xanthi.elena@gmail.com">
                      <i class="mail icon"></i>
                    </a>
                    <a class="ui inverted small circular icon button dimmerB"
                       href="https://facebook.com/eestechchallengeathens"
                       target="_blank">
                      <i class="facebook icon"></i>
                    </a>
                  </div>
                </div>
              </div>
              <img src="assets/images/lc/lc-athens.jpg">
            </div>
            <div class="content">
              <div class="header">Athens</div>
              <div class="description">Greece</div>
            </div>
          </div>

          <div class="ui card">
            <div class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <p>
                    <h4>Ambassador</h4>
                    Marina Obrenović
                    </p>
                    <h4>Location</h4>
                    Test
                    </p>
                    <p>
                    <h4>(date)xx.xx.xxxx</h4>
                    </p>
                    <a class="ui inverted small circular icon button dimmerB"
                       href="mailto:marina.obrenovic@eestec.etf.rs">
                      <i class="mail icon"></i>
                    </a>
                    <a class="ui inverted small circular icon button dimmerB"
                       href="https://facebook.com/eestechchallengebelgrade"
                       target="_blank">
                      <i class="facebook icon"></i>
                    </a>
                  </div>
                </div>
              </div>
              <img src="assets/images/lc/lc-belgrade.jpg">
            </div>
            <div class="content">
              <div class="header">Belgrade</div>
              <div class="description">Serbia</div>
            </div>
          </div>

          <div class="ui card">
            <div class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <p>
                    <h4>Ambassador</h4>
                    Daniele De Francesco
                    </p>
                    <h4>Location</h4>
                    Test
                    </p>
                    <p>
                    <h4>(date)xx.xx.xxxx</h4>
                    </p>
                    <a class="ui inverted small circular icon button dimmerB"
                       href="mailto:93.daniele@gmail.com">
                      <i class="mail icon"></i>
                    </a>
                    <a class="ui inverted small circular icon button dimmerB"
                       href="https://facebook.com/eestechchallengecosenza"
                       target="_blank">
                      <i class="facebook icon"></i>
                    </a>
                  </div>
                </div>
              </div>
              <img src="assets/images/lc/lc-cosenza.jpg">
            </div>
            <div class="content">
              <div class="header">Cosenza</div>
              <div class="description">Italy</div>
            </div>
          </div>

          <div class="ui card">
            <div class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <p>
                    <h4>Ambassador</h4>
                    Paweł Rybicki
                    </p>
                    <h4>Location</h4>
                    Test
                    </p>
                    <p>
                    <h4>(date)xx.xx.xxxx</h4>
                    </p>
                    <a class="ui inverted small circular icon button dimmerB"
                       href="mailto:pawrybicki@tlen.pl">
                      <i class="mail icon"></i>
                    </a>
                    <a class="ui inverted small circular icon button dimmerB"
                       href="https://facebook.com/EESTechChallengeGliwice"
                       target="_blank">
                      <i class="facebook icon"></i>
                    </a>
                  </div>
                </div>
              </div>
              <img src="assets/images/lc/lc-gliwice.jpg">
            </div>
            <div class="content">
              <div class="header">Gliwice</div>
              <div class="description">Poland</div>
            </div>
          </div>

          <div class="ui card">
            <div class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <p>
                    <h4>Ambassador</h4>
                    Bartek Kłusek
                    </p>
                    <h4>Location</h4>
                    Test
                    </p>
                    <p>
                    <h4>(date)xx.xx.xxxx</h4>
                    </p>
                    <a class="ui inverted small circular icon button dimmerB"
                       href="mailto:bartlomiejklusek93@gmail.com">
                      <i class="mail icon"></i>
                    </a>
                    <a class="ui inverted small circular icon button dimmerB"
                       href="https://facebook.com/EESTEC.AGH.Krakow"
                       target="_blank">
                      <i class="facebook icon"></i>
                    </a>
                  </div>
                </div>
              </div>
              <img src="assets/images/lc/lc-krakow.jpg">
            </div>
            <div class="content">
              <div class="header">Kraków</div>
              <div class="description">Poland</div>
            </div>
          </div>

          <div class="ui card">
            <div class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <p>
                    <h4>Ambassador</h4>
                    Gabriel Waterlot
                    </p>
                    <h4>Location</h4>
                    Test
                    </p>
                    <p>
                    <h4>(date)xx.xx.xxxx</h4>
                    </p>
                    <a class="ui inverted small circular icon button dimmerB"
                       href="mailto:gabwaterlot@gmail.com">
                      <i class="mail icon"></i>
                    </a>
                    <a class="ui inverted small circular icon button dimmerB"
                       href="https://facebook.com/EESTech-Challenge-Lille-235068396920290"
                       target="_blank">
                      <i class="facebook icon"></i>
                    </a>
                  </div>
                </div>
              </div>
              <img src="assets/images/lc/lc-lille.jpg">
            </div>
            <div class="content">
              <div class="header">Lille</div>
              <div class="description">France</div>
            </div>
          </div>

          <div class="ui card">
            <div class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <p>
                    <h4>Ambassador</h4>
                    Nikola Stajić
                    </p>
                    <h4>Location</h4>
                    Test
                    </p>
                    <p>
                    <h4>(date)xx.xx.xxxx</h4>
                    </p>
                    <a class="ui inverted small circular icon button dimmerB"
                       href="mailto:n.stajic42@gmail.com">
                      <i class="mail icon"></i>
                    </a>
                    <a class="ui inverted small circular icon button dimmerB"
                       href="https://facebook.com/EESTech-Challenge-Novi-Sad-1794404020777813"
                       target="_blank">
                      <i class="facebook icon"></i>
                    </a>
                  </div>
                </div>
              </div>
              <img src="assets/images/lc/lc-novi-sad.jpg">
            </div>
            <div class="content">
              <div class="header">Novi Sad</div>
              <div class="description">Serbia</div>
            </div>
          </div>

          <div class="ui card">
            <div class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <p>
                    <h4>Ambassador</h4>
                    Nikos Nikolaidis
                    </p>
                    <h4>Location</h4>
                    Test
                    </p>
                    <p>
                    <h4>(date)xx.xx.xxxx</h4>
                    </p>
                    <a class="ui inverted small circular icon button dimmerB"
                       href="mailto:nnikon95@gmail.com">
                      <i class="mail icon"></i>
                    </a>
                    <a class="ui inverted small circular icon button dimmerB"
                       href="https://facebook.com/eestechallengepatras"
                       target="_blank">
                      <i class="facebook icon"></i>
                    </a>
                  </div>
                </div>
              </div>
              <img src="assets/images/lc/lc-patras.jpg">
            </div>
            <div class="content">
              <div class="header">Patras</div>
              <div class="description">Greece</div>
            </div>
          </div>

          <div class="ui card">
            <div class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <p>
                    <h4>Ambassador</h4>
                    Ajša Terko
                    </p>
                    <h4>Location</h4>
                    Test
                    </p>
                    <p>
                    <h4>(date)xx.xx.xxxx</h4>
                    </p>
                    <a class="ui inverted small circular icon button dimmerB"
                       href="mailto:ajsa.terko@eestec-sa.ba">
                      <i class="mail icon"></i>
                    </a>
                    <a class="ui inverted small circular icon button dimmerB"
                       href="https://facebook.com/eestechchallengesarajevo"
                       target="_blank">
                      <i class="facebook icon"></i>
                    </a>
                  </div>
                </div>
              </div>
              <img src="assets/images/lc/lc-sarajevo.jpg">
            </div>
            <div class="content">
              <div class="header">Sarajevo</div>
              <div class="description">Bosnia and Herzegovina</div>
            </div>
          </div>

          <div class="ui card">
            <div class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <p>
                    <h4>Ambassador</h4>
                    Gerta Xhepi
                    </p>
                    <h4>Location</h4>
                    Test
                    </p>
                    <p>
                    <h4>(date)xx.xx.xxxx</h4>
                    </p>
                    <a class="ui inverted small circular icon button dimmerB"
                       href="mailto:xhepigerta@gmail.com">
                      <i class="mail icon"></i>
                    </a>
                    <a class="ui inverted small circular icon button dimmerB"
                       href="https://facebook.com/xhepigerta" target="_blank">
                      <i class="facebook icon"></i>
                    </a>
                  </div>
                </div>
              </div>
              <img src="assets/images/lc/lc-tirana.jpg">
            </div>
            <div class="content">
              <div class="header">Tirana</div>
              <div class="description">Albania</div>
            </div>
          </div>

          <div class="ui card">
            <div class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <p>
                    <h4>Ambassador</h4>
                    Elvis Skoždopolj
                    </p>
                    <h4>Location</h4>
                    Test
                    </p>
                    <p>
                    <h4>(date)xx.xx.xxxx</h4>
                    </p>
                    <a class="ui inverted small circular icon button dimmerB"
                       href="mailto:elvis.skozdopolj@gmail.com">
                      <i class="mail icon"></i>
                    </a>
                    <a class="ui inverted small circular icon button dimmerB"
                       href="https://facebook.com/eestechchallengetuzla"
                       target="_blank">
                      <i class="facebook icon"></i>
                    </a>
                  </div>
                </div>
              </div>
              <img src="assets/images/lc/lc-tuzla.jpg">
            </div>
            <div class="content">
              <div class="header">Tuzla</div>
              <div class="description">Bosnia and Herzegovina</div>
            </div>
          </div>

          <div class="ui card">
            <div class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <p>
                    <h4>Ambassador</h4>
                    Katarina Lukić
                    </p>
                    <h4>Location</h4>
                    Test
                    </p>
                    <p>
                    <h4>(date)xx.xx.xxxx</h4>
                    </p>
                    <a class="ui inverted small circular icon button dimmerB"
                       href="mailto:katarina.lukic@eestec-zg.hr">
                      <i class="mail icon"></i>
                    </a>
                    <a class="ui inverted small circular icon button dimmerB"
                       href="https://facebook.com/EESTech-Challenge-Zagreb-637205029785681"
                       target="_blank">
                      <i class="facebook icon"></i>
                    </a>
                  </div>
                </div>
              </div>
              <img src="assets/images/lc/lc-zagreb.jpg">
            </div>
            <div class="content">
              <div class="header">Zagreb</div>
              <div class="description">Croatia</div>
            </div>
          </div>

          <div class="ui card">
            <div class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <p>
                    <h4>Ambassador</h4>
                    Sandro Baumgartner
                    </p>
                    <h4>Location</h4>
                    Test
                    </p>
                    <p>
                    <h4>(date)xx.xx.xxxx</h4>
                    </p>
                    <a class="ui inverted small circular icon button dimmerB"
                       href="mailto:sandro@eestec.ethz.ch">
                      <i class="mail icon"></i>
                    </a>
                    <a class="ui inverted small circular icon button dimmerB"
                       href="https://facebook.com/EESTech-Challenge-Zurich-1119848218132287"
                       target="_blank">
                      <i class="facebook icon"></i>
                    </a>
                  </div>
                </div>
              </div>
              <img src="assets/images/lc/lc-zurich.jpg">
            </div>
            <div class="content">
              <div class="header">Zurich</div>
              <div class="description">Switzerland</div>
            </div>
          </div>
        </div>
      </div>

      <h2 class="ui header aligned center">Final Round</h2>
      <h4 class="ui header aligned center">Final Round will take place in a <span
        style="color:#51bcea">special</span> city.</h4>
      <div class="ui one link stackable special cards">
        <script>
          $('.special.cards .image').dimmer({
            on: 'hover'
          });
        </script>
        <div class="ui card">
          <div class="blurring dimmable image">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <p>
                  <h4>Location</h4>
                  TBA
                  </p>
                  <p>
                  <h4>(date)xx.xx.xxxx</h4>
                  </p>
                  <a class="ui inverted small circular icon button dimmerB"
                     href="mailto:ec@eestec.net">
                    <i class="mail icon"></i>
                  </a>
                  <a class="ui inverted small circular icon button dimmerB"
                     href="https://www.facebook.com/eestechchallenge/"
                     target="_blank">
                    <i class="facebook icon"></i>
                  </a>
                </div>
              </div>
            </div>
            <img src="assets/images/lc/jlc-almeria.jpg">
          </div>
          <div class="content">
            <div class="header">City TBA</div>
            <div class="description">Country TBA</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
