<section class="ui stackable content main grid container">
  <section class="ui content container" id="cities">
    <div class="ui center aligned container" data-editable data-name="cities">

      <h2 class="ui header aligned center">Cities</h2>
      <h4 class="ui header aligned center">Local Rounds will take place in <span
        style="color:#0e83d7">19</span> cities across Europe and Turkey.
        <br>To apply click on your city's name.</h4>
        <div class="ui people container mt-4" id="cities">
          <div class="ui four link stackable special cards">
            <script>
            $('.special.cards .image').dimmer({
              on: 'hover'
            });
            </script>

  <div class="ui card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <!-- <p>
              <h4>Ambassador</h4>
              Miguel Inocêncio
            </p>
          <a class="ui inverted small circular icon button dimmerB"
          href="mailto:moinocencio@gmail.com">
          <i class="mail icon"></i>
        </a>
        <a class="ui inverted small circular icon button dimmerB"
        href="https://www.facebook.com/EESTechChallengeAveiro"
        target="_blank">
        <i class="facebook icon"></i>
      </a> -->
    </div>
  </div>
</div>
<img src="assets/images/lc/Aveiro.png">
</div>
<div class="content">
  <a class="header" ui-sref="aveiro">JLC Aveiro</a>
  <div class="description">Portugal</div>
</div>
</div>

<div class="ui card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <!-- <p>
              <h4>Ambassador</h4>
              Silvia Maddalena Rossi
            </p>
          <a class="ui inverted small circular icon button dimmerB"
          href="mailto:ec.ambassador.milan@gmail.com">
          <i class="mail icon"></i>
        </a> -->
        <a class="ui inverted small circular icon button dimmerB"
        href="https://www.facebook.com/eestechchallengemilano"
        target="_blank">
        <i class="facebook icon"></i>
      </a>
    </div>
  </div>
  </div>
  <img src="assets/images/lc/Milano.png">
  </div>
  <div class="content">
    <a class="header" ui-sref="milan">JLC Milan</a>
    <div class="description">Italy</div>
  </div>
  </div>

<div class="ui card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <!-- <p>
              <h4>Ambassador</h4>
              Eleni Boukouvala
            </p>
          <a class="ui inverted small circular icon button dimmerB"
          href="mailto:helenbouk@gmail.com">
          <i class="mail icon"></i>
        </a> -->
        <a class="ui inverted small circular icon button dimmerB"
        href="https://www.facebook.com/eestechchallengeathens"
        target="_blank">
        <i class="facebook icon"></i>
      </a>
    </div>
  </div>
</div>
<img src="assets/images/lc/Athens.png">
</div>
<div class="content">
<a class="header" ui-sref="athens">LC Athens</a>
<div class="description">Greece</div>
</div>
</div>

<div class="ui card">
  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <!-- <p>
            <h4>Ambassador</h4>
            Mladen Sokić
          </p>
        <a class="ui inverted small circular icon button dimmerB"
        href="mailto:mladensokic@gmail.com">
        <i class="mail icon"></i>
      </a> -->
      <a class="ui inverted small circular icon button dimmerB"
      href="https://www.facebook.com/eestechchallengebelgrade"
      target="_blank">
      <i class="facebook icon"></i>
    </a>
  </div>
</div>
</div>
<img src="assets/images/lc/Belgrade.png">
</div>
<div class="content">
  <a class="header" ui-sref="belgrade">LC Belgrade</a>
  <div class="description">Serbia</div>
</div>
</div>

<!-- <div class="ui card">
  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <p>
            <h4>Ambassador</h4>
            Alice Iacono
          </p>
        <a class="ui inverted small circular icon button dimmerB"
        href="mailto:alile.iacono7@gmail.com">
        <i class="mail icon"></i>
      </a>
      <a class="ui inverted small circular icon button dimmerB"
      href="https://www.facebook.com/EESTechChallengeCatania"
      target="_blank">
      <i class="facebook icon"></i>
    </a>
  </div>
</div>
</div>
<img src="assets/images/lc/Catania.png">
</div>
<div class="content">
  <a class="header" ui-sref="">Catania</div>
  <div class="description">Italy</div>
</div>
</div> -->
<!-- 
<div class="ui card">
  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <p>
            <h4>Ambassador</h4>
            Vivek Maru
          </p>
        <a class="ui inverted small circular icon button dimmerB"
        href="mailto:vivek.maru00128@gmail.com">
        <i class="mail icon"></i>
      </a>
      <a class="ui inverted small circular icon button dimmerB"
      href="https://www.facebook.com/eestechchallengechemnitz"
      target="_blank">
      <i class="facebook icon"></i>
    </a>
  </div>
</div>
</div>
<img src="assets/images/lc/Chemnitz.jpg">
</div>
<div class="content">
  <a class="header" ui-sref="">Chemnitz</div>
  <div class="description">Germany</div>
</div>
</div>

<div class="ui card">
  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <p>
            <h4>Ambassador</h4>
            Badea Robert-Christian
          </p>
        <a class="ui inverted small circular icon button dimmerB"
        href="mailto:rochbadea@gmail.com">
        <i class="mail icon"></i>
      </a>
      <a class="ui inverted small circular icon button dimmerB"
      href="https://www.facebook.com/EESTechChallengeCraiova"
      target="_blank">
      <i class="facebook icon"></i>
    </a>
  </div>
</div>
</div>
<img src="assets/images/lc/Craiova.png">
</div>
<div class="content">
  <a class="header" ui-sref="">Craiova</div>
  <div class="description">Romania</div>
</div>
</div> -->

<div class="ui card">
  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <!-- <p>
            <h4>Ambassador</h4>
            Karen van der Werff
          </p>
        <a class="ui inverted small circular icon button dimmerB"
        href="mailto:cp-etv@tudelft.nl">
        <i class="mail icon"></i>
      </a> -->
      <a class="ui inverted small circular icon button dimmerB"
      href="https://www.facebook.com/EESTech-Challenge-Delft-1618604478204634"
      target="_blank">
      <i class="facebook icon"></i>
    </a>
  </div>
</div>
</div>
<img src="assets/images/lc/Delft.png">
</div>
<div class="content">
  <a class="header" ui-sref="delft">LC Delft</a>
  <div class="description">Netherlands</div>
</div>
</div>

<div class="ui card">
  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <!-- <p>
            <h4>Ambassador</h4>
            Zeljana Neskovic
          </p>
        <a class="ui inverted small circular icon button dimmerB"
        href="mailto:neskoviczeljana@gmail.com">
        <i class="mail icon"></i>
      </a> -->
      <a class="ui inverted small circular icon button dimmerB"
      href="https://www.facebook.com/ECEastSarajevo"
      target="_blank">
      <i class="facebook icon"></i>
    </a>
  </div>
</div>
</div>
<img src="assets/images/lc/EastSarajevo.jpg">
</div>
<div class="content">
  <a class="header" ui-sref="e_sarajevo">LC East Sarajevo</a>
  <div class="description">Bosnia and Herzegovina</div>
</div>
</div>

<!-- <div class="ui card">
  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <p>
            <h4>Ambassador</h4>
            Paweł Rybicki
          </p>
        <a class="ui inverted small circular icon button dimmerB"
        href="mailto:PawRybicki@tlen.pl">
        <i class="mail icon"></i>
      </a>
      <a class="ui inverted small circular icon button dimmerB"
      href="https://www.facebook.com/EESTechChallengeGliwice"
      target="_blank">
      <i class="facebook icon"></i>
    </a>
  </div>
</div>
</div>
<img src="assets/images/lc/Istanbul.png">
</div>
<div class="content">
  <a class="header" ui-sref="">LC Istanbul</div>
  <div class="description">Turkey</div>
</div>
</div> -->

<!-- <div class="ui card">
  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <p>
            <h4>Ambassador</h4>
            Martyna Szot
          </p>
        <a class="ui inverted small circular icon button dimmerB"
        href="mailto:martyna.szot@eestec.pl">
        <i class="mail icon"></i>
      </a>
      <a class="ui inverted small circular icon button dimmerB"
      href="https://www.facebook.com/EESTech.Challenge.Krakow"
      target="_blank">
      <i class="facebook icon"></i>
    </a>
  </div>
</div>
</div>
<img src="assets/images/lc/Krakow.png">
</div>
<div class="content">
  <a class="header" ui-sref="">Krakow</div>
  <div class="description">Poland</div>
</div>
</div> -->

<div class="ui card">
  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <!-- <p>
            <h4>Ambassador</h4>
            Rok Hudobivnik
          </p>
        <a class="ui inverted small circular icon button dimmerB"
        href="mailto:eestechchallenge@eestec-lj.org">
        <i class="mail icon"></i>
      </a> -->
      <a class="ui inverted small circular icon button dimmerB"
      href="https://www.facebook.com/EESTechChallengeLjubljana" target="_blank">
      <i class="facebook icon"></i>
    </a>
  </div>
</div>
</div>
<img src="assets/images/lc/Ljubljana.png">
</div>
<div class="content">
  <a class="header" ui-sref="ljubljana">LC Ljubljana</a>
  <div class="description">Slovenia</div>
</div>
</div>

<div class="ui card">
  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <!-- <div class="center">
          <p>
            <h4>Ambassador</h4>
            Silvia Maddalena Rossi
          </p>
        <a class="ui inverted small circular icon button dimmerB"
        href="mailto:ec.ambassador.milan@gmail.com">
        <i class="mail icon"></i>
      </a>
      <a class="ui inverted small circular icon button dimmerB"
      href="https://www.facebook.com/eestechchallengemilano"
      target="_blank">
      <i class="facebook icon"></i>
    </a>
  </div> -->
</div>
</div>
<img src="assets/images/lc/Munich.jpg">
</div>
<div class="content">
  <a class="header" ui-sref="munich">LC Munich</a>
  <div class="description">Germany</div>
</div>
</div>

<div class="ui card">
  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <!-- <p>
            <h4>Ambassador</h4>
            Silvia Maddalena Rossi
          </p>
        <a class="ui inverted small circular icon button dimmerB"
        href="mailto:ec.ambassador.milan@gmail.com">
        <i class="mail icon"></i>
      </a> -->
      <a class="ui inverted small circular icon button dimmerB"
      href="https://www.facebook.com/eestechchallengenis/"
      target="_blank">
      <i class="facebook icon"></i>
    </a>
  </div>
</div>
</div>
<img src="assets/images/lc/Nis.png">
</div>
<div class="content">
  <a class="header" ui-sref="nis">LC Niš</a>
  <div class="description">Serbia</div>
</div>
</div>

<div class="ui card">
  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <!-- <p>
            <h4>Ambassador</h4>
            Mirko Ćulibrk
          </p>
        <a class="ui inverted small circular icon button dimmerB"
        href="mailto:micoculibrk@gmail.com">
        <i class="mail icon"></i>
      </a> -->
      <a class="ui inverted small circular icon button dimmerB"
      href="https://www.facebook.com/EESTechChallengeNoviSad"
      target="_blank">
      <i class="facebook icon"></i>
    </a>
  </div>
</div>
</div>
<img src="assets/images/lc/NoviSad.png">
</div>
<div class="content">
  <a class="header" ui-sref="novisad">LC Novi Sad</a>
  <div class="description">Serbia</div>
</div>
</div>

<div class="ui card">
  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <!-- <p>
            <h4>Ambassador</h4>
            Brodimas Dimitrios
          </p>
        <a class="ui inverted small circular icon button dimmerB"
        href="mailto:dimitris.brodimas@gmail.com ">
        <i class="mail icon"></i>
      </a> -->
      <a class="ui inverted small circular icon button dimmerB"
      href="https://www.facebook.com/eestechallengepatras"
      target="_blank">
      <i class="facebook icon"></i>
    </a>
  </div>
</div>
</div>
<img src="assets/images/lc/Patras.png">
</div>
<div class="content">
  <a class="header" ui-sref="patras">LC Patras</a>
  <div class="description">Greece</div>
</div>
</div>

<div class="ui card">
  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <!-- <p>
            <h4>Ambassador</h4>
            Emina Sikira
          </p>
        <a class="ui inverted small circular icon button dimmerB"
        href="mailto:emina.sikira@eestec-sa.ba">
        <i class="mail icon"></i>
      </a> -->
      <a class="ui inverted small circular icon button dimmerB"
      href="https://www.facebook.com/eestechchallengesarajevo"
      target="_blank">
      <i class="facebook icon"></i>
    </a>
  </div>
</div>
</div>
<img src="assets/images/lc/Sarajevo.png">
</div>
<div class="content">
  <a class="header" ui-sref="sarajevo">LC Sarajevo</a>
  <div class="description">Bosnia and Herzegovina</div>
</div>
</div>

<!-- <div class="ui card">
  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <p>
            <h4>Ambassador</h4>
            Antti Peltotalo
          </p>
        <a class="ui inverted small circular icon button dimmerB"
        href="mailto:antti.peltotalo@student.tut.fi">
        <i class="mail icon"></i>
      </a>
      <a class="ui inverted small circular icon button dimmerB"
      href="https://www.facebook.com/EESTechChallengeTampere"
      target="_blank">
      <i class="facebook icon"></i>
    </a>
  </div>
</div>
</div>
<img src="assets/images/lc/Tampere.png">
</div>
<div class="content">
  <a class="header" ui-sref="">LC Tampere</div>
  <div class="description">Finland</div>
</div>
</div> -->

<div class="ui card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <!-- <div class="center">
            <p>
              <h4>Ambassador</h4>
              Armando Xhaxho
            </p>
          <a class="ui inverted small circular icon button dimmerB"
          href="mailto:eestechchallengetirana.ho@gmail.com">
          <i class="mail icon"></i>
        </a>
        <a class="ui inverted small circular icon button dimmerB"
        href="https://www.facebook.com/eestechchallengetirana"
        target="_blank">
        <i class="facebook icon"></i>
      </a>
    </div> -->
  </div>
  </div>
  <img src="assets/images/lc/Thessaloniki.png">
  </div>
  <div class="content">
    <a class="header" ui-sref="thessaloniki">LC Thessaloniki</a>
    <div class="description">Greece</div>
</div>
</div>

<div class="ui card">
  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <!-- <p>
            <h4>Ambassador</h4>
            Armando Xhaxho
          </p>
        <a class="ui inverted small circular icon button dimmerB"
        href="mailto:eestechchallengetirana.ho@gmail.com">
        <i class="mail icon"></i>
      </a> -->
      <a class="ui inverted small circular icon button dimmerB"
      href="https://www.facebook.com/eestechchallengetirana"
      target="_blank">
      <i class="facebook icon"></i>
    </a>
  </div>
</div>
</div>
<img src="assets/images/lc/Tirana.png">
</div>
<div class="content">
  <a class="header" ui-sref="tirana">LC Tirana</a>
  <div class="description">Albania</div>
</div>
</div>

<!-- <div class="ui card">
  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <p>
            <h4>Ambassador</h4>
            Enrico Falanga
          </p>
        <a class="ui inverted small circular icon button dimmerB"
        href="mailto:eestech-challenge@eestec.it">
        <i class="mail icon"></i>
      </a>
      <a class="ui inverted small circular icon button dimmerB"
      href="https://www.facebook.com/EESTechChallengeTrieste"
      target="_blank">
      <i class="facebook icon"></i>
    </a>
  </div>
</div>
</div>
<img src="assets/images/lc/Trieste.png">
</div>
<div class="content">
  <a class="header" ui-sref="">Trieste</div>
  <div class="description">Italy</div>
</div>
</div> -->

<div class="ui card">
  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <!-- <p>
            <h4>Ambassador</h4>
            Jasmina Jurišić
          </p>
        <a class="ui inverted small circular icon button dimmerB"
        href="mailto:jasmina.jurisic96@gmail.com">
        <i class="mail icon"></i>
      </a> -->
      <a class="ui inverted small circular icon button dimmerB"
      href="https://www.facebook.com/eestechchallengetuzla/"
      target="_blank">
      <i class="facebook icon"></i>
    </a>
  </div>
</div>
</div>
<img src="assets/images/lc/Tuzla.png">
</div>
<div class="content">
  <a class="header" ui-sref="tuzla">LC Tuzla</a>
  <div class="description">Bosnia and Herzegovina</div>
</div>
</div>

<div class="ui card">
  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <!-- <p>
            <h4>Ambassador</h4>
            Panagiotis Andreou
          </p>
        <a class="ui inverted small circular icon button dimmerB"
        href="mailto:eestech.challenge.xanthi@gmail.com">
        <i class="mail icon"></i>
      </a> -->
      <a class="ui inverted small circular icon button dimmerB"
      href="https://www.facebook.com/eestechchallengexanthi"
      target="_blank">
      <i class="facebook icon"></i>
    </a>
  </div>
</div>
</div>
<img src="assets/images/lc/Xanthi.jpg">
</div>
<div class="content">
  <a class="header" ui-sref="xanthi">LC Xanthi</a>
  <div class="description">Greece</div>
</div>
</div>

<div class="ui card">
  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <!-- <p>
            <h4>Ambassador</h4>
            Sandro Baumgartner
          </p>
        <a class="ui inverted small circular icon button dimmerB"
        href="mailto:bausandr@student.ethz.ch">
        <i class="mail icon"></i>
      </a> -->
      <a class="ui inverted small circular icon button dimmerB"
      href="https://www.facebook.com/EESTech-Challenge-Zurich-1119848218132287"
      target="_blank">
      <i class="facebook icon"></i>
    </a>
  </div>
</div>
</div>
<img src="assets/images/lc/Zurich.png">
</div>
<div class="content">
  <a class="header" ui-sref="zurich">LC Zurich</a>
  <div class="description">Switzerland</div>
</div>
</div>

<!--
<div class="ui card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <p>
              <h4>Ambassador</h4>
              Aditya Krishnan
            </p>
          <a class="ui inverted small circular icon button dimmerB"
          href="mailto:aditya.krishnan@ucdconnect.ie">
          <i class="mail icon"></i>
        </a>
        <a class="ui inverted small circular icon button dimmerB"
        href="https://www.facebook.com/EESTechChallengeDublin"
        target="_blank">
        <i class="facebook icon"></i>
      </a>
    </div>
  </div>
  </div>
  <img src="assets/images/lc/Dublin.png">
  </div>
  <div class="content">
    <a class="header" ui-sref="dublin">Observer Dublin</a>
    <div class="description">Ireland</div>
  </div>
  </div> -->

  
<div class="ui card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <!-- <p>
              <h4>Ambassador</h4>
              Aditya Krishnan
            </p>
          <a class="ui inverted small circular icon button dimmerB"
          href="mailto:aditya.krishnan@ucdconnect.ie">
          <i class="mail icon"></i>
        </a> -->
        <a class="ui inverted small circular icon button dimmerB"
        href="https://www.facebook.com/EESTechChallengeDuisburg/"
        target="_blank">
        <i class="facebook icon"></i>
      </a>
    </div>
  </div>
  </div>
  <img src="assets/images/lc/Duisburg.png">
  </div>
  <div class="content">
    <a class="header" ui-sref="duisburg">Observer Duisburg</a>
    <div class="description">Germany</div>
  </div>
  </div>

  
<div class="ui card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <!-- <p>
              <h4>Ambassador</h4>
              Aditya Krishnan
            </p>
          <a class="ui inverted small circular icon button dimmerB"
          href="mailto:aditya.krishnan@ucdconnect.ie">
          <i class="mail icon"></i>
        </a> -->
        <a class="ui inverted small circular icon button dimmerB"
        href="https://www.facebook.com/EESTechChallengeValencia/"
        target="_blank">
        <i class="facebook icon"></i>
      </a>
    </div>
  </div>
  </div>
  <img src="assets/images/lc/Valencia.png">
  </div>
  <div class="content">
    <a class="header" ui-sref="valencia">Observer Valencia</a>
    <div class="description">Spain</div>
  </div>
  </div>

</div>
</div>
<!--
<h2 class="ui header aligned center">Final Round</h2>
<h4 class="ui header aligned center">Final Round will take place in a <span
  style="color:#0e83d7">special</span> city.</h4>
  <div class="ui one link stackable special cards">
    <script>
    $('.special.cards .image').dimmer({
      on: 'hover'
    });
    </script>
    <div class="ui card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <p>
                <h4>Location</h4>
                TBA
              </p>
              <p>
                <h4>(date)xx.xx.xxxx</h4>
              </p>
              <a class="ui inverted small circular icon button dimmerB"
              href="mailto:ec@eestec.net">
              <i class="mail icon"></i>
            </a>
            <a class="ui inverted small circular icon button dimmerB"
            href="https://www.facebook.com/eestechchallenge/"
            target="_blank">
            <i class="facebook icon"></i>
          </a>
        </div>
      </div>
    </div>
    <img src="assets/images/lc/jlc-almeria.jpg">
  </div>
  <div class="content">
    <a class="header" ui-sref="">City TBA</div>
    <div class="description">Country TBA</div>
  </div>
</div>
</div>-->
</div>
</section>
</section>
