<section class="ui basic inverted vertical masthead center aligned segment" style="background-color:#3679bd" id="home">
    <h1 class="ui header inverted">Sponsors</h1>
</section>
<!--
<section class="ui basic center aligned segment">
  <h1 class="ui header">International Sponsor</h1>
  <div class="ui centered special card">
    <script>
      $('.special.card .image').dimmer({
           on: 'hover'
        });
    </script>
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <p>
            RUAG Defence is a leading independent provider of integration, upgrade and maintenance services for land-based defence and security systems.
          </p>
        </div>
      </div>
      <img src="assets/images/sponsors/ruag.jpg">
    </div>
    <div class="content">
        <div class="header"><a href="https://www.ruag.com/en/products-services/land/cyber-security" target="_blank">Ruag Defence</a></div>
    </div>
  </div>
</section>-->

<h1 class="ui center aligned header">Local Sponsors</h1>

<section class="ui basic center aligned segment">
    <h2 class="ui header">LC Athens</h2>

    <div class="ui centered card">
        <div class="image">
            <a href="https://www.vodafone.gr/"><img src="assets/images/sponsors/Athens-vodafone.png" alt=""></a> 
        </div>
        <div class="content">
            <div class="header">
                Vodafone
            </div>
        </div>
    </div>
</section>

<section class="ui basic center aligned segment">
    <h2 class="ui header">LC Belgrade</h2>
    <div class="ui centered card">
        <div class="image">
            <a href="https://www.microsoft.com/sr-latn-rs/mdcs"><img src="assets/images/sponsors/Belgrade-mdcs.png"></a>
        </div>
        <div class="content">
            <div class="header">Microsoft Development Center Serbia</div>
        </div>
    </div>
</section>

<section class="ui basic center aligned segment">
    <h2 class="ui header">LC Duisburg</h2>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <a href="https://www.ferchau.com/de/de/"><img src="assets/images/sponsors/Duisburg-Ferchau.png"></a>
            </div>
            <div class="content">
                <div class="header">Ferchau Engineering</div>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <a href="https://www.tk.de/techniker"><img src="assets/images/sponsors/Duisburg-Techniker.png"></a>
            </div>
            <div class="content">
                <div class="header">Techniker </div>
            </div>
        </div>
    </div>
</section>

<section class="ui basic center aligned segment">
    <h2 class="ui header">LC Ljubljana</h2>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <a href="https://404.si/"><img src="assets/images/sponsors/Ljubljana-404.png"></a>
            </div>
            <div class="content">
                <div class="header">404</div>
            </div>
        </div>

        <div class="ui card">
            <div class="image">
                <a href="http://www.danfoss.si/home/#/"><img src="assets/images/sponsors/Ljubljana-Danfoss.png"></a>
            </div>
            <div class="content">
                <div class="header">Danfoss Engineering Tomorrow</div>
            </div>
        </div>

        <div class="ui card">
            <div class="image">
                <a href="https://www.epilog.net/"><img src="assets/images/sponsors/Ljubljana-Epilog.png"></a>
            </div>
            <div class="content">
                <div class="header">Epilog Logistics IT</div>
            </div>
        </div>
    </div>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <a href="https://www.gorenjegroup.com/si/"><img src="assets/images/sponsors/Ljubljanja-Gorenje.png"></a>
            </div>
            <div class="content">
                <div class="header">Gorenje group</div>
            </div>
        </div>

        <div class="ui card">
            <div class="image">
                <a href="http://ikt.fe.uni-lj.si/"><img src="assets/images/sponsors/Ljubljana-IKT.png"></a>
            </div>
            <div class="content">
                <div class="header">Katedra za informacijske in komunikacijske tehnologije</div>
            </div>
        </div>
        
        <div class="ui card">
            <div class="image">
                <a href="https://isystemlabs.si/"><img src="assets/images/sponsors/Ljubljana-isystem.png"></a>            
            </div>
            <div class="content">
                <div class="header">iSystem</div>
            </div>
        </div>
    </div>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <a href="https://www.agilcon.com/en/"><img src="assets/images/sponsors/Ljubljana-agilcon.png"></a>
            </div>
            <div class="content">
                <div class="header">Agilcon</div>
            </div>
        </div>

        <div class="ui card">
            <div class="image">
                <a href="https://www.krka.biz/en/ "><img src="assets/images/sponsors/Ljubljana-Krka.png"></a>
            </div>
            <div class="content">
                <div class="header">Krka</div>
            </div>
        </div>
        
        <div class="ui card">
            <div class="image">
                <a href="http://www.beenius.tv/si/"><img src="assets/images/sponsors/Ljubljana-Beenius.png"></a>
            </div>
            <div class="content">
                <div class="header">Beenius</div>
            </div>
        </div>
    </div>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <a href="http://ltfe.org/"><img src="assets/images/sponsors/Ljubljana-LTFE.png"></a>
            </div>
            <div class="content">
                <div class="header">Labaratorij za Telekomunikacije</div>
            </div>
        </div>

        <div class="ui card">
            <div class="image">
                <a href="https://www.medius.si/"><img src="assets/images/sponsors/Ljubljana-Medius.png"></a>
            </div>
            <div class="content">
                <div class="header">Medius</div>
            </div>
        </div>
        
        <div class="ui card">
            <div class="image">
                <a href="https://www.mikrocop.si/"><img src="assets/images/sponsors/Ljubljana-Microcop.png"></a>
            </div>
            <div class="content">
                <div class="header">Microcop</div>
            </div>
        </div>
    </div>
    <div class="ui centered card">
        <div class="image">
            <a href="https://www.nil.com/"><img src="assets/images/sponsors/Ljubljana-nil.png"></a>
        </div>
        <div class="content">
            <div class="header">Nil</div>
        </div>
    </div>
</section>

<section class="ui basic center aligned segment">
    <h2 class="ui header">LC Milan</h2>
    <div class="ui centered card">
        <div class="image">
            <a href="https://www.reply.com/it/"><img src="assets/images/sponsors/Milan-Reply.png"></a>
        </div>
        <div class="content">
            <div class="header">Reply</div>
        </div>
    </div>
</section>

<section class="ui basic center aligned segment">
    <h2 class="ui header">LC Patras</h2>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <a href="https://www.dialog-semiconductor.com/"><img src="assets/images/sponsors/Patras-dialog.png"></a>
            </div>
            <div class="content">
                <div class="header">Dialog Semiconductor</div>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <a href="https://www.citrix.com/"><img src="assets/images/sponsors/Patras-citrix.png"></a>
            </div>
            <div class="content">
                <div class="header">Citrix</div>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <a href="https://www.intrasoft-intl.com/"><img src="assets/images/sponsors/Patras-Intrasoft.png"></a>
            </div>
            <div class="content">
                <div class="header">Intrasoft</div>
            </div>
        </div>
    </div>
</section>

<section class="ui basic center aligned segment">
    <h2 class="ui header">LC Tuzla</h2>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <a href="https://www.atlantbh.com/"><img src="assets/images/sponsors/Tuzla-atlantbh.png"></a>
            </div>
            <div class="content">
                <div class="header">Atlantbh</div>
            </div>
        </div>

        <div class="ui card">
            <div class="image">
                <a href="https://www.dccs.at/"><img src="assets/images/sponsors/Tuzla-dccs.png"></a>
            </div>
            <div class="content">
                <div class="header">Dccs</div>
            </div>
        </div>

        <div class="ui card">
            <div class="image">
                <a href="http://www.fondacijatz.org/"><img src="assets/images/sponsors/Tuzla-ftz.png"></a>
            </div>
            <div class="content">
                <div class="header">Fondacija Tuzlanske zajednice</div>
            </div>
        </div>
    </div>

    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <a href="https://marvelsoft.net/"><img src="assets/images/sponsors/Tuzla-marvelsoft.png"></a>
            </div>
            <div class="content">
                <div class="header">Marvelsoft</div>
            </div>
        </div>

        <div class="ui card">
            <div class="image">
                <a href="https://www.virginpulse.com/"><img src="assets/images/sponsors/Tuzla-VirginPulse.png"></a>
            </div>
            <div class="content">
                <div class="header">Virgin Pulse</div>
            </div>
        </div>
    </div>
</section>

<!--<section class="ui basic center aligned segment">
    <h2 class="ui header">LC Zurich</h2>
    <div class="ui centered card">
        <div class="image">
            <img src="assets/images/sponsors/amiv.png">
        </div>
        <div class="content">
            <div class="header">Amiv</div>
        </div>
    </div>
</section>-->


</div>