<section class="ui basic inverted vertical masthead center aligned segment" style="background-color:#3679bd" id="home">
    <h1 class="ui header inverted">Sponsors</h1>
</section>
<!--
<section class="ui basic center aligned segment">
  <h1 class="ui header">International Sponsor</h1>
  <div class="ui centered special card">
    <script>
      $('.special.card .image').dimmer({
           on: 'hover'
        });
    </script>
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <p>
            RUAG Defence is a leading independent provider of integration, upgrade and maintenance services for land-based defence and security systems.
          </p>
        </div>
      </div>
      <img src="assets/images/sponsors/ruag.jpg">
    </div>
    <div class="content">
        <div class="header"><a href="https://www.ruag.com/en/products-services/land/cyber-security" target="_blank">Ruag Defence</a></div>
    </div>
  </div>
</section>-->

<h1 class="ui center aligned header">Local Sponsors</h1>

<section class="ui basic center aligned segment">
    <h2 class="ui header">LC Athens</h2>

    <div class="ui centered card">
        <div class="image">
            <img src="assets/images/sponsors/Athens-vodafone.png" alt=""> 
        </div>
        <div class="content">
            <a href="https://www.vodafone.gr/">
                <div class="header">
                    Vodafone
                </div>
            </a>
        </div>
    </div>
</section>

<section class="ui basic center aligned segment">
    <h2 class="ui header">LC Belgrade</h2>
    <div class="ui centered card">
        <div class="image">
            <img src="assets/images/sponsors/Belgrade-mdcs.png">
        </div>
        <div class="content">
            <a href="https://www.microsoft.com/sr-latn-rs/mdcs">
                <div class="header">Microsoft Development Center Serbia</div>
            </a>
        </div>
    </div>
</section>

<section class="ui basic center aligned segment">
    <h2 class="ui header">LC Duisburg</h2>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Duisburg-Ferchau.png">
            </div>
            <div class="content">
                <a href="https://www.ferchau.com/de/de/">
                    <div class="header">Ferchau Engineering</div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Duisburg-Techniker.png">
            </div>
            <div class="content">
                <a href="https://www.tk.de/techniker">
                    <div class="header">Techniker </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="ui basic center aligned segment">
    <h2 class="ui header">LC Ljubljana</h2>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Ljubljana-404.png">
            </div>
            <div class="content">
                <a href="https://404.si/">
                    <div class="header">404</div>
                </a>
            </div>
        </div>

        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Ljubljana-Danfoss.png">
            </div>
            <div class="content">
                <a href="http://www.danfoss.si/home/#/">
                    <div class="header">Danfoss Engineering Tomorrow</div>
                </a>
            </div>
        </div>

        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Ljubljana-Epilog.png">
            </div>
            <div class="content">
                <a href="https://www.epilog.net/">
                    <div class="header">Epilog Logistics IT</div>
                </a>
            </div>
        </div>
    </div>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Ljubljanja-Gorenje.png">
            </div>
            <div class="content">
                <a href="https://www.gorenjegroup.com/si/">
                    <div class="header">Gorenje group</div>
                </a>
            </div>
        </div>

        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Ljubljana-IKT.png">
            </div>
            <div class="content">
                <a href="http://ikt.fe.uni-lj.si/">
                    <div class="header">Katedra za informacijske in komunikacijske tehnologije</div>
                </a>
            </div>
        </div>
        
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Ljubljana-isystem.png">        
            </div>
            <div class="content">
                <a href="https://isystemlabs.si/">
                    <div class="header">iSystem</div>
                </a>    
            </div>
        </div>
    </div>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
               <img src="assets/images/sponsors/Ljubljana-agilcon.png">
            </div>
            <div class="content">
                <a href="https://www.agilcon.com/en/">
                    <div class="header">Agilcon</div>
                </a>
            </div>
        </div>

        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Ljubljana-Krka.png">
            </div>
            <div class="content">
                <a href="https://www.krka.biz/en/ ">
                    <div class="header">Krka</div>
                </a>
            </div>
        </div>
        
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Ljubljana-Beenius.png">
            </div>
            <div class="content">
                <a href="http://www.beenius.tv/si/">
                    <div class="header">Beenius</div>
                </a>
            </div>
        </div>
    </div>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Ljubljana-LTFE.png">
            </div>
            <div class="content">
                <a href="http://ltfe.org/">
                    <div class="header">Labaratorij za Telekomunikacije</div>
                </a>
            </div>
        </div>

        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Ljubljana-Medius.png">
            </div>
            <div class="content">
                <a href="https://www.medius.si/">
                    <div class="header">Medius</div>
                </a>
            </div>
        </div>
        
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Ljubljana-Microcop.png">
            </div>
            <div class="content">
                <a href="https://www.mikrocop.si/">
                    <div class="header">Microcop</div>
                </a>
            </div>
        </div>
    </div>
    <div class="ui centered card">
        <div class="image">
            <img src="assets/images/sponsors/Ljubljana-nil.png">
        </div>
        <div class="content">
            <a href="https://www.nil.com/">
                <div class="header">Nil</div>
            </a>
        </div>
    </div>
</section>

<section class="ui basic center aligned segment">
    <h2 class="ui header">LC Milan</h2>
    <div class="ui centered card">
        <div class="image">
            <img src="assets/images/sponsors/Milan-Reply.png">
        </div>
        <div class="content">
            <a href="https://www.reply.com/it/">
                <div class="header">Reply</div>
            </a>
        </div>
    </div>
</section>

<section class="ui basic center aligned segment">
    <h2 class="ui header">LC Patras</h2>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Patras-dialog.png">
            </div>
            <div class="content">
                <a href="https://www.dialog-semiconductor.com/">
                    <div class="header">Dialog Semiconductor</div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Patras-citrix.png">
            </div>
            <div class="content">
                <a href="https://www.citrix.com/">
                    <div class="header">Citrix</div>
                </a>
            </div>
        </div>
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Patras-Intrasoft.png">
            </div>
            <div class="content">
                <a href="https://www.intrasoft-intl.com/">
                    <div class="header">Intrasoft</div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="ui basic center aligned segment">
    <h2 class="ui header">LC Tuzla</h2>
    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Tuzla-atlantbh.png">
            </div>
            <div class="content">
                <a href="https://www.atlantbh.com/">
                    <div class="header">Atlantbh</div>
                </a>
            </div>
        </div>

        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Tuzla-dccs.png">
            </div>
            <div class="content">
                <a href="https://www.dccs.at/">
                    <div class="header">Dccs</div>
                </a>
            </div>
        </div>

        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Tuzla-ftz.png">
            </div>
            <div class="content">
                <a href="http://www.fondacijatz.org/">
                    <div class="header">Fondacija Tuzlanske zajednice</div>
                </a>
            </div>
        </div>
    </div>

    <div class="ui centered cards">
        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Tuzla-marvelsoft.png">
            </div>
            <div class="content">
                <a href="https://marvelsoft.net/">
                    <div class="header">Marvelsoft</div>
                </a>
            </div>
        </div>

        <div class="ui card">
            <div class="image">
                <img src="assets/images/sponsors/Tuzla-VirginPulse.png">
            </div>
            <div class="content">
                <a href="https://www.virginpulse.com/">
                    <div class="header">Virgin Pulse</div>
                </a>
            </div>
        </div>
    </div>
</section>

<!--<section class="ui basic center aligned segment">
    <h2 class="ui header">LC Zurich</h2>
    <div class="ui centered card">
        <div class="image">
            <img src="assets/images/sponsors/amiv.png">
        </div>
        <div class="content">
            <div class="header">Amiv</div>
        </div>
    </div>
</section>-->


</div>