<section class="ui basic inverted vertical masthead center aligned segment" style="background-color:#3679bd" id="home">
    <h1 class="ui header inverted">Sponsors</h1>
</section>
<!--
<section class="ui basic center aligned segment">
  <h1 class="ui header">International Sponsor</h1>
  <div class="ui centered special card">
    <script>
      $('.special.card .image').dimmer({
           on: 'hover'
        });
    </script>
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <p>
            RUAG Defence is a leading independent provider of integration, upgrade and maintenance services for land-based defence and security systems.
          </p>
        </div>
      </div>
      <img src="assets/images/sponsors/ruag.jpg">
    </div>
    <div class="content">
        <div class="header"><a href="https://www.ruag.com/en/products-services/land/cyber-security" target="_blank">Ruag Defence</a></div>
    </div>
  </div>
</section>-->

<h1 class="ui center aligned header">Local Sponsors</h1>

<section class="ui basic center aligned segment">
    <h2 class="ui header">LC Athens</h2>
    
    <div class="ui centered card">
        <div class="image">
            <img src="assets/images/sponsors/cisco.png">
        </div>
        <div class="content">
            <div class="header">Cisco</div>
        </div>
    </div>

    <div class="ui centered card">
        <div class="image">
            <img src="assets/images/sponsors/epixeiro.png">
        </div>
        <div class="content">
            <div class="header">Epiheiro</div>
        </div>
    </div>

    <div class="ui centered card">
        <div class="image">
            <img src="assets/images/sponsors/startup.png">
        </div>
        <div class="content">
            <div class="header">Startup.gr</div>
        </div>
    </div>

    <div class="ui centered card">
        <div class="image">
            <img src="assets/images/sponsors/stentoras.png">
        </div>
        <div class="content">
            <div class="header">Stentoras</div>
        </div>
    </div>

    <div class="ui centered card">
        <div class="image">
            <img src="assets/images/sponsors/hothot.png">
        </div>
        <div class="content">
            <div class="header">Hot Hot Burgers</div>
        </div>
    </div>
</section>

<section class="ui basic center aligned segment">
    <h2 class="ui header">LC Gliwice</h2>
    <div class="ui centered card">
        <div class="image">
            <img src="assets/images/sponsors/ing_tech_poland.png">
        </div>
        <div class="content">
            <div class="header">ING Tech Poland</div>
        </div>
    </div>
</section>

<section class="ui basic center aligned segment">
    <h2 class="ui header">LC Krakow</h2>
    <div class="ui centered card">
        <div class="image">
            <img src="assets/images/sponsors/sales_manago.png">
        </div>
        <div class="content">
            <div class="header">Sales Manago</div>
        </div>
    </div>
</section>

<section class="ui basic center aligned segment">
    <h2 class="ui header">LC Belgrade</h2>
    <div class="ui centered card">
        <div class="image">
            <img src="assets/images/sponsors/things_solver.png">
        </div>
        <div class="content">
            <div class="header">Things Solver</div>
        </div>
    </div>

    <div class="ui centered card">
        <div class="image">
            <img src="assets/images/sponsors/microsoft_development.png">
        </div>
        <div class="content">
            <div class="header">Microsoft Development Center</div>
        </div>
    </div>

</section>

<section class="ui basic center aligned segment">
    <h2 class="ui header">LC Patras</h2>
    <div class="ui centered card">
        <div class="image">
            <img src="assets/images/sponsors/citrix.png">
        </div>
        <div class="content">
            <div class="header">Citrix</div>
        </div>
    </div>
</section>

<!--<section class="ui basic center aligned segment">
    <h2 class="ui header">JLC Milan</h2>
    <div class="ui centered card">
        <div class="image">
            <img src="assets/images/sponsors/amiv.png">
        </div>
        <div class="content">
            <div class="header">Amiv</div>
        </div>
    </div>
</section>-->

<section class="ui basic center aligned segment">
    <h2 class="ui header">LC Tuzla</h2>
    <div class="ui centered card">
        <div class="image">
            <img src="assets/images/sponsors/bicom.png">
        </div>
        <div class="content">
            <div class="header">Bicom</div>
        </div>
    </div>

    <div class="ui centered card">
        <div class="image">
            <img src="assets/images/sponsors/marvelsoft.png">
        </div>
        <div class="content">
            <div class="header">Marvelsoft</div>
        </div>
    </div>

    <div class="ui centered card">
        <div class="image">
            <img src="assets/images/sponsors/txtv.png">
        </div>
        <div class="content">
            <div class="header">TXTV</div>
        </div>
    </div>

    <div class="ui centered card">
        <div class="image">
            <img src="assets/images/sponsors/cpe.png">
        </div>
        <div class="content">
            <div class="header">CPE</div>
        </div>
    </div>

    <div class="ui centered card">
        <div class="image">
            <img src="assets/images/sponsors/leftor.png">
        </div>
        <div class="content">
            <div class="header">LEFTOR</div>
        </div>
    </div>
</section>

<!--<section class="ui basic center aligned segment">
    <h2 class="ui header">LC Zurich</h2>
    <div class="ui centered card">
        <div class="image">
            <img src="assets/images/sponsors/amiv.png">
        </div>
        <div class="content">
            <div class="header">Amiv</div>
        </div>
    </div>
</section>-->


</div>